@media screen and (min-width: 913px) {
  .l-listing-card {
    width: 60%;
    height: 30%;
  }

  .l-info-container {
    margin-top: 10px;
  }

  .l-directions-button {
    width: 200px;
  }
}

@media screen and (max-width: 912px) {
  .l-listing-card {
    width: 232px;
    height: 50%;
  }

  .l-info-container {
    margin-left: 16px;
  }

  .l-directions-button {
    width: 200px;
  }

  .l-pagination {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
